*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;  
}

body {
    background-color: #ffffff;
} 

a:hover, a:active {
    color: rgb(183, 179, 173);
}

.hijau {
    width: 100fr;
    background-color: #007042;
    height: 10px;
}

.logo {
    padding: 29px 30px 50px 5px;
}

nav ul li  {
    float: left;
    list-style: none;
    padding-top: 55px;
}

.a1 {
    color: black;
    text-decoration: none;

}

.right {
    float: right;
    font-size: 15px;
    margin: 30px;
    padding: 10px;
}

.fas{
    position: relative;
    left: -8px;
}

ul li a  {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    padding: 18px;
}

a.menu:hover {
    background-color: rgb(33, 37, 41);
    color: white;
}

.foto {
    width: 23%;
    position: relative;
    margin-top: 80px;
    left: 220px;
}

.Biodata p {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #007042;
    font-family:monospace;
}

td {
    padding: 3px;
    font-size: 15px;
    font-family: cursive;
}
.desc {
    float: right;
    position: relative;
    top: 80px;
    left: -175px;
    font-family: monospace;
}

.desc p {
    margin-bottom: 5px;
}

li.sosmed {
    display: inline-block;
}

.footer-sosmed i {
    color: whitesmoke;
}

.footer-sosmed {
    margin-top: 3px;
    margin-left: 333px;
    margin-bottom: -100px;
    height: 70px;
    width: 49.5%;
    padding: 20px;
    padding-left: 270px;
    background-color:#007042;
}
/* 
tr td a {
    width: 100%;
    margin-left: 25px;
}

.judul-bawah {
    text-transform: uppercase;
}

table a {
    text-decoration: none;
    color: black;
}

td.AU {
    top: 35px;
    position: relative;
}

td.CS {
    top: 35px;
    left: 70px;
    position: relative;
}

td.QL {
    top: 35px;
    left: 90px;
    position: relative;
}

td.one { 
    top: 60px;
    padding-bottom: 10px;
    position: relative;
}

td.two {
    left: 70px;
    top: 60px;
    padding-bottom: 10px;
    position: relative;
}

td.three {
    top: 60px;
    padding-bottom: 10px;
    left: 90px;
    position: relative;
}

.mark img {
    width: 17px;
    margin-right: 26px;
    float: right;
    margin-top: -134px;
}

 .PS li {
    display: inline; 
    position: relative;
    top: 120px;
    left: 10px;
}

.strip {
    font-size:20px ;
}

.footer-bawah p {
    margin-left: 25px;
    top: 155px;
    position: relative;
    font-size: 14px;
    color: gray;
}

.PS {
color: gray;
}

.bottom {
    text-transform: capitalize;
    color: gray;
}

.material-icons {
    font-size: 14px;
}  */

.coklat {
    background-color: rgb(56, 47, 45);
    width: 100fr;
    height: 20px;
    position: relative;
    bottom: -170px;
} 