*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header {
    font-family: sans-serif;
}

.family {
    font-family: cursive;  
}

footer {
    font-family: sans-serif;
}

body {
    background-color:#ffffff;
} 

a:hover, a:active {
    color: rgb(183, 179, 173);
}

.hijau {
    width: 100fr;
    background-color: #007042;
    height: 10px;
}

.logo {
    padding: 29px 30px 50px 5px;
}

nav ul li  {
    float: left;
    list-style: none;
    padding-top: 55px;
}

.a1 {
    color: rgb(33, 37, 41);
    text-decoration: none;

}

.right {
    float: right;
    font-size: 15px;
    margin: 30px;
    padding: 10px;
}

.fas{
    position: relative;
    left: -8px;
}

ul li a  {
    color: rgb(33, 37, 41);
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    padding: 18px;
}

a.menu:hover {
    background-color: rgb(33, 37, 41);
    color: white;
}

.background img {
    margin-top: -36px;
    width: 100%;
    
}

li.sosmed {
    display: inline-block;
    height: 70px;
    background-color:rgb(240, 240, 240);
}

.footer-sosmed {
    margin-top: -10px;
    width: 100%;
    padding-top: 50px;
    padding-left: 10px;
    background-color:rgb(240, 240, 240);
}

tr td a {
    width: 100%;
    margin-left: 25px;
}

.judul-bawah {
    text-transform: uppercase;
}

table a {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

td.AU {
    top: 35px;
    position: relative;
}

td.CS {
    top: 35px;
    left: 70px;
    position: relative;
}

td.QL {
    top: 35px;
    left: 90px;
    position: relative;
}

td.one { 
    top: 60px;
    padding-bottom: 10px;
    position: relative;
}

td.two {
    left: 70px;
    top: 60px;
    padding-bottom: 10px;
    position: relative;
}

td.three {
    top: 60px;
    padding-bottom: 10px;
    left: 90px;
    position: relative;
}

.mark img {
    width: 17px;
    margin-right: 26px;
    float: right;
    margin-top: -134px;
}

a.bottom:hover {
    color: gray;
}

.bottom {
    text-transform: none;  
    color: gray;
}

.akhir{
    color: grey;
}

.PS li {
    display: inline; 
    position: relative;
    top: 120px;
    left: 10px;
}

.strip {
    font-size:20px ;
}

.footer-bawah p {
    margin-left: 25px;
    top: 155px;
    position: relative;
    font-size: 14px;
    color: gray;
}

.material-icons {
    font-size: 14px;
}

.coklat {
    background-color: rgb(56, 47, 45);
    width: 100fr;
    height: 10px;
    position: relative;
    bottom: -170px;
}

.hidden {
    display: none;
    position: absolute;
    z-index: 99999;
    background-color: rgb(33, 37, 41);
    padding-right: 130px;
    padding-bottom: 60px;
    margin-top: 17px;
}

.hidden li a {
    color: #ffffff;
    font-size: 13px;
}

.dropdown:hover .hidden{
    display: block;
}

/* cssgalery */

div.gallery {
    border: 1px solid white;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div.gallery:hover {
    border: 1px solid rgb(42, 42, 42);
  }
  
  div.desc:hover {
    color: gray;
    
  }

  div.gallery img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .responsive {
    padding: 10px;
    float: left;
    width: 25%;
    /* background-color: rgb(196, 255, 196); */
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .judul {
    position: relative;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: rgb(33, 37, 41);
  }

  hr {
    width: 50%;
    text-align: center;
  }

  .coklat-atas {
    background-color:#007042 ;
    width: 70%;
    height: 3px;
    left: 200px;
    position: relative;
}