*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SoDo Sans";
    font-size: 15px;  
}

body {
    background-color:#ffffff ;
} 

a:hover, a:active {
    color: rgb(183, 179, 173);
}

.hijau {
    width: 100fr;
    background-color: #007042;
    height: 10px;
}

.logo {
    padding: 29px 30px 50px 5px;
}

nav ul li  {
    float: left;
    list-style: none;
    padding-top: 55px;
}

.a1 {
    color: black;
    text-decoration: none;

}

.right {
    float: right;
    font-size: 15px;
    margin: 30px;
    padding: 10px;
}

.fas{
    position: relative;
    left: -8px;
}

ul li a  {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    padding: 18px;
}

a.menu:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.background img {
    margin-top: -36px;
    width: 100%;
}

li.sosmed {
    display: inline-block;
    height: 70px;
    background-color:rgb(240, 240, 240);
}

.footer-sosmed {
    margin-top: -10px;
    width: 100%;
    padding-top: 50px;
    padding-left: 10px;
    background-color:rgb(240, 240, 240);
}

tr td a {
    width: 100%;
    margin-left: 25px;
}

.judul-bawah {
    text-transform: uppercase;
}

table a {
    text-decoration: none;
    color: black;
}

td.AU {
    top: 35px;
    position: relative;
}

td.CS {
    top: 35px;
    left: 70px;
    position: relative;
}

td.QL {
    top: 35px;
    left: 90px;
    position: relative;
}

td.one { 
    top: 60px;
    padding-bottom: 10px;
    position: relative;
}

td.two {
    left: 70px;
    top: 60px;
    padding-bottom: 10px;
    position: relative;
}

td.three {
    top: 60px;
    padding-bottom: 10px;
    left: 90px;
    position: relative;
}

.mark img {
    width: 17px;
    margin-right: 26px;
    float: right;
    margin-top: -134px;
}

a.bottom:hover {
    color: gray;
}

.bottom {
    text-transform: none;  
    color: gray;
}

.akhir{
    color: grey;
}

.PS li {
    display: inline; 
    position: relative;
    top: 120px;
    left: 10px;
}

.strip {
    font-size:20px ;
}

.footer-bawah p {
    left: 25px;
    top: 155px;
    position: relative;
    font-size: 14px;
    color: gray;
}

.material-icons {
    font-size: 14px;
}